@import url("https://fonts.googleapis.com/css?family=Lato");

/* ----- #LatoLovers! -----*/
:root {
  --font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: none;
  font: inherit;
}

html {
  font: 100%/1.68 var(--font);
  background-color: #fff;
  color: #222;
  transition: 0.2s ease;
}

body {
  font-family: "Lato";
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0;
}

/* ----- Título -----*/

.header {
  font-family: "Lato";
  font-size: 14px;
  opacity: 0.7;
}

#titulo {
  display: inline;
  font-size: 14px;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin-bottom: 20px;
  box-shadow: 0.2px 0.2px 0.2px 0.3px rgba(68, 68, 68, 0.1);
}

/* ----- Botões -----*/

#btn {
  font-size: 14px;
  padding: 50;
  border: none;
  background: none;
  margin-bottom: 20px;
  box-shadow: 0.2px 0.2px 0.2px 0.3px rgba(68, 68, 68, 0.1);
}

#btn:hover {
  color: #222 !important;
  font-weight: 800 !important;
  letter-spacing: 0px;
  background: none;
  -webkit-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.1);
}

#reset {
  font-size: 14px;
  padding: 50;
  border: none;
  background: none;
  margin-bottom: 20px;
  box-shadow: 0.2px 0.2px 0.2px 0.3px rgba(68, 68, 68, 0.1);
}

#reset:hover {
  color: #222 !important;
  font-weight: 800 !important;
  letter-spacing: 0px;
  background: none;
  -webkit-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.1);
}

button {
  font-size: 14px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  width: 30%;
  padding: 3px 0;
  text-align: center;
  margin-top: 3px;
  box-shadow: 0.2px 0.2px 0.2px 0.3px rgba(68, 68, 68, 0.1);
}

button:hover {
  color: #222 !important;
  font-weight: 800 !important;
  letter-spacing: 0px;
  background: none;
  -webkit-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 10px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.1);
}

/* ----- Título Config-----*/

.pad {
  font-family: var(--font);
  margin-bottom: 1.5rem;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* ----- Corpo Config -----*/

.notepad {
  font-family: "Lato";
  display: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: calc(80vh - 6rem);
  appearance: none;
  border: none;
  box-shadow: 0.2px 0.2px 0.2px 0.3px rgba(68, 68, 68, 0.1);
  outline: none;
  color: inherit;
  background: transparent;
  resize: none;
}

/* ----- Footer Config -----*/

.footer {
  margin-bottom: 30px;
  font-size: 12px;
}

.hidden {
  display: none;
}

 
